<%= render partial: "search_form", locals: {species: @species} %>

<% if @pets %>
  <h3>Available animals within <%= @radius %> miles of <%= @zipcode %></h3>
  <div class="pet-listing-area">
    <% @pets.each_pair do |id, pet| %>
      <div class="pet-listing">
        <img class="thumbnail" src="<%= pet["animalPictures"][0]["urlInsecureThumbnail"] %>" width="100" alt="<%= pet["animalName"] %>">
        <ul class="pet-list">
          <li class="pet-name"><%= pet["animalName"] %> </li>
          <li class="items"> Breed: <%= pet["animalBreed"] %> </li>
          <li class="items"> Zip Code: <%= pet["animalLocation"] %> </li>
          <li class="items"> Organization ID: <%= pet["animalOrgID"] %> </li>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
