<%= render partial: "search_form", locals: {species: @species} %>

<% if @pets %>
  <h3>Available animals within <%= @radius %> miles of <%= @zipcode %></h3>

  <%= @pets.each_pair do |id, pet| %>
    <ul>
      <li class="pet-name">Name: <%= pet["animalName"] %> </li>
      <li> Breed: <%= pet["animalBreed"] %> </li>
      <li> Zip Code: <%= pet["animalLocation"] %> </li>
    </ul>
  <% end %>
<% end %>
