<h2> <%= @pet["data"][@id]["animalName"] %> </h2>
<img src="<%= @pet["data"][@id]["animalPictures"][0]["urlSecureFullsize"]  %>" alt="<%= @pet["data"][@id]["animalName"] %>">
<div class="pet-info">
  <p>Located in zipcode <%= @pet["data"][@id]["animalLocation"] %></p>
  <p><%= @pet["data"][@id]["animalBreed"] %></p>
  <p><%= @pet["data"][@id]["animalDescriptionPlain"] %></p>
</div>
